ad3==2.0.2
audioread==2.0.0
decorator==4.0.2
Django==1.8.5
django-filter==0.11.0
djangorestframework==3.2.4
funcsigs==0.4
h5py==2.5.0
joblib==0.8.4
libextract==0.0.12
librosa==0.4.0
lxml==3.4.4
Markdown==2.6.2
matplotlib==1.4.3
mock==1.3.0
nose==1.3.7
numpy==1.9.2
pbr==1.8.0
pydot==1.0.28
PyGithub==1.26.0
-e git://github.com/lisa-lab/pylearn2.git@47aafdc1e73ba613f5ebaa6fc63401a1fc468ded#egg=pylearn2-master
pyparsing==1.5.6
pystruct==0.2.3
python-dateutil==2.4.2
pytz==2014.9
requests==2.3.0
scikit-learn==0.16.1
scipy==0.16.0
six==1.8.0
statscounter==0.0.0
swigibpy==0.4.1
xlrd==0.9.4
